body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
}

* {
 	box-sizing: border-box;
}

.game {
	/*padding: 30px;*/
}

.not-connected-visitors {
  color: white;
  max-width: 500px;
  text-align: center;
  margin: auto;
  position: relative;
  top: 400px;
  font-size: 1.3em;
}

.background-video, .grid-container {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
}

.video-container {
  max-height: 100vh;
}

.background-video {
  opacity: 0.6;
}

.grid-container {
  position: relative;
}

.grid {
  width: 300px;
	height: 300px;
	position: relative;
}

button {
	margin-top: 300px;
}

.tile {
	width: 100px;
	height: 100px;
	padding: 40px 10px;
	text-align: center;
	display: inline-block;
	background: white;
	position: absolute;
	transition: all 100ms linear;
}

.tile-1{
  background: url("./assets/1.jpg") no-repeat center center;
  background-size: contain;
}
.tile-2{
  background: url("./assets/2.jpg") no-repeat center center;
  background-size: contain;
}
.tile-3{
  background: url("./assets/3.jpg") no-repeat center center;
  background-size: contain;
}
.tile-4{
  background: url("./assets/4.jpg") no-repeat center center;
  background-size: contain;
}
.tile-5{
  background: url("./assets/6.jpg") no-repeat center center;
  background-size: contain;
}
.tile-6{
  background: url("./assets/7.jpg") no-repeat center center;
  background-size: contain;
}
.tile-7{
  background: url("./assets/8.jpg") no-repeat center center;
  background-size: contain;
}
.tile-8{
  background: url("./assets/9.jpg") no-repeat center center;
  background-size: contain;
}
.tile-0{
  /* TODO: add back when puzzle is solved; */
  /*background: url("./assets/5.jpg") no-repeat center center;*/
  background: transparent;
  background-size: contain;
}
